<div class="card">

  <div class="flex" style="justify-content: space-between; margin-bottom: 30px;">
    <h2 class="mt-0 font-semibold" style="flex:1; font-size: 25px; letter-spacing: 2px;">ULTIME NOTIZIE</h2>

    <div>
      <span class="p-input-icon-left p-input-icon-right" style="margin-right: 13px;">
          <i class="pi pi-book"></i>
          <input type="text" style="flex: 1; flex-grow: 1; min-width: 400px;" pInputText placeholder="Cerca per titolo" [(ngModel)]="searchTerm" (keyup)="searchNews()"/>
          <i class="pi pi-search" (click)="searchNews()"></i>
      </span>
    </div>
  </div>
  
  <div class="card m-3"  #skeletonTemplate>
      <p-skeleton height="2rem" width="40rem"styleClass="mb-4" />
      <p-skeleton height="15rem" width="20rem" styleClass="mb-4"/>
      <p-skeleton width="8rem" styleClass="mb-4" />
      <p-skeleton height="7rem" styleClass="mb-2" />
      <p-skeleton height="3rem" styleClass="mb-2" />
      <p-skeleton width="20rem" height="2rem" styleClass="mb-2" />
  </div>  
    
  <p-table
      [value]="news"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]">
      <ng-template pTemplate="header">
      </ng-template>
      <ng-template pTemplate="body"let-newsItem>
          <tr>
              <td>
                <p-panel header="{{ newsItem.title }}">
                  <p-image 
                      src="data:image/jpeg;base64,{{newsItem.image}}" 
                      previewImageSrc="data:image/jpeg;base64,{{newsItem.image}}" 
                      alt="News Image" 
                      width="350"
                      [preview]="true" />
                  <p> pubblicato il: {{newsItem.date}}</p>
                  <p class="mt-0 font-semibold mb-2" style=" line-height: 2;">{{ newsItem.description }}</p>
                </p-panel>
              </td>
          </tr>
      </ng-template>
    </p-table>
<p-scrollTop/>
</div>